$background-color: #ededed2e;
$font-color: white;
$background-image: 'assets/images/background-image.jpg';

html {
  min-height: 100%;
}

body {
  background-image: url($background-image);
  background-repeat: no-repeat;
  background-size: cover;
}

.n-tabs .n-tabs-rail .n-tabs-tab-wrapper .n-tabs-tab.n-tabs-tab--active {
  background-color: #3b3d40;
  color: white;
  &:hover {
    transform: scale(1.01);
  }
}

.n-tabs .n-tabs-rail .n-tabs-tab-wrapper .n-tabs-tab {
  background-color: #a1a5ac;
  color: $font-color;
  &:hover {
    transform: scale(1.01);
  }
}

#password-card > .n-card {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  color: $font-color;

  &:hover {
    transform: scale(1.01);
  }
}

.n-card.n-modal {
  background-color: #2c2c32;
  color: $font-color;
}

.n-card-header .n-card-header__main {
  color: $font-color;
}



.n-card--content-soft-segmented > .n-card-header > .n-card-header__main {
  color: $font-color;
}
